@font-face {
  font-family: 'norwester';
  src: url('fonts/norwester.otf');
}

body {
  background: #bed5e0;
}

.logIn {
  margin-bottom: 0;
  margin-top: 3%;
  margin-left: 87%;
  margin-right: 2%;
  border-radius: 2px;
  padding: 3px 6px 3px 6px;
  box-shadow: 1px 1px 1px #000;
  color: #000;
  background: #F8C0C8;
  text-align: center;
  font-family: 'norwester', sans-serif;
  cursor: pointer;
  position: absolute;
  z-index: 2;
}

.logIn:hover {
  background: #f9a4b1;
  color: #1a4e60;
}

.signUpHeader {
  text-align: center;
  color: #e8f6fc;
  font-family: 'norwester', sans-serif;
}

/* /////////////  modal  ////////////// */

.modalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Oswald', sans-serif;
}

.submitButtonBox {
  display: flex;
  justify-content: center;
  width: 100%;
}

.submitButton {
  margin-top: 30px;
  box-shadow: 1px 1px 0px #333;
  background: #083c63;
  font-family: 'Raleway', sans-serif;
  border-radius: 1px;
  width: 80%;
}

.submitButton:hover {
  box-shadow: none;
  background: #042742;
}

.modalBody {
  width: 310px;
  background: #dce7ea;
  border-radius: 2px;
  color: #000;
}

.errorMessage {
  color: #db0000;
  text-align: center;
  z-index: 3;
}

.modalBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.modalFormInputBox {
  width: 98%;
}

.modal-title {
  text-align: center;
  max-width: 50%;
  position: fixed;
  color: #042742;
  font-family: 'norwester', sans-serif;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: none;
  padding-bottom: 5px;
  margin-bottom: 12px;
}

.modalInput {
  width: 265px;
}

.closeModal {
  margin-left: 90%;
}

/* /////////////  END modal  ////////////// */

/* //////////////// new user form ///////////// */

.newUserFormBox {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 5%;
  background: linear-gradient(#114151, #000, #114151);
  padding: 20px 0px;
  border-radius: 4px;
  width: 55%;
  border-top: 1px solid #F8C0C8;
  border-bottom: 1px solid #F8C0C8;
}

.newUserForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #fff;
  font-family: 'Oswald', sans-serif;
}

.newUserSubmitButtonBox {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

/* .newUserInput {
  width: 265px;
} */

.newUserSubmitButton {
  width: 100%;
  border-radius: 1px;
  background: #b77b83;
  font-family: 'Raleway', sans-serif;
  text-shadow: 1px 1px 1px #000;
  /* letter-spacing: 2px; */
}

.newUserSubmitButton:hover {
  background: #724b50;
}

/* //////////////// END new user form ///////////// */

.headerTagline {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 4px;
  text-align: center;
  font-weight: bolder;
  color: #BDBBB6;
  text-shadow: 2px 2px 2px #000;
  margin: 0px;
}

.landingPage {
  min-height: 97vh;
  min-width: 96vw;
  border-radius: 2px;
  border: 1px solid #F8C0C8;
  margin: 1% 2%;
  padding-top: 4px;
  padding-bottom: 20px;
  box-shadow: 4px 4px 10px #111;
  background: #000b0f;
}

.headerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 20px 5px 20px;
}

.landingPageHeaderImage {
  width: 70px;
  height: 70px;
  margin-top: 15px;
}

.landingPageHeader {
  font-family: 'norwester';
  color: #e8f6fc;
  font-size: 70px;
  text-shadow: 1px 1px 2px #000;
  margin: 0px;
}

.headerImageLineBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.headerImageLeftLine {
  min-width: 120px;
  border-bottom: 6px double #71a8b3;
  margin-bottom: 15px;
}

.headerImageRightLine {
  min-width: 120px;
  border-bottom: 6px double #71a8b3;
  margin-bottom: 15px;
  margin-left: 7px;
}

.headerNote {
  color: #F8C0C8;
  text-shadow: 1px 1px 2px #000;
}

.headerBottomLine {
  border-bottom: 6px double #71a8b3;
  width: 320px;
  margin-top: 10px;
}

.chasenoteInfoBox {
  display: flex;
  margin-top: 5%;
  justify-content: center;
}

.chasenoteInfo {
  width: 65%;
  color: #e8f6fc;
  font-family: 'Oswald', serif;
  text-align: center;
}

.landingPageMenuBox {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  background: linear-gradient(#114151, #000, #114151);
  padding: 20px 0px;
  box-shadow: 2px 2px 4px #000;
  border-radius: 4px;
  width: 94%;
  border-top: 1px solid #F8C0C8;
  border-bottom: 1px solid #F8C0C8;
}

.landingPageMenuInfoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 33%;
}

.menuImageHeader {
  color: #e8f6fc;
  font-family: 'norwester';
  text-shadow: 2px 2px 2px #000;
}

.menuImageDescription {
  color: #e8f6fc;
  margin: 15px;
  text-align: center;
  font-family: 'Oswald', serif;
}

.landingPageMenuImage {
  width: 90px;
  height: 90px;
  border-radius: 10%;
  box-shadow: 3px 3px 3px #000;
  border: 1px solid #e8f6fc;
  margin-bottom: 10px;
}

.landingPageMenuImage:hover {
  box-shadow: 1px 1px 16px #EEF0F2;
  border: 1px solid #EEF0F2;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {}

@media only screen and (max-width: 750px) {
  .landingPageMenuBox {
    display: block;
  }
  .landingPageMenuInfoBox {
    /* border-top: 8px double #71a8b3; */
    margin: 15px;
    padding-top: 15px;
    background: #001526;
    border-top: 1px solid #F8C0C8;
    border-bottom: 1px solid #F8C0C8;
    border-radius: 4px;
  }
  .logIn {
    margin-left: 80%;
  }
  .landingPageMenuImage {
    width: 175px;
    height: 175px;
  }
  .newUserFormBox {
    width: 75%;
  }
}
